name: Build & Scan

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      # -------------------------
      # SonarQube Scan
      # -------------------------
      - name: SonarQube Scan
        uses: sonarsource/sonarqube-scan-action@v2
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}

      # - name: SonarQube Quality Gate
      #   uses: sonarsource/sonarqube-quality-gate-action@v1
      #   timeout-minutes: 5
      #   env:
      #     SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

      # -------------------------
      # Docker Build
      # -------------------------
      - name: Build Docker Image
        run: |
          docker build -t flask-demo:latest .

      # -------------------------
      # Trivy Scan
      # -------------------------
      - name: Trivy Vulnerability Scan
        uses: aquasecurity/trivy-action@0.20.0
        continue_on_error: true
        with:
          image-ref: flask-demo:latest
          format: table
          exit-code: 1
          severity: CRITICAL,HIGH
